[Unit]
Description=SolidSense MQTT Client Process
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3  /opt/SolidSense/mqtt/solidsense_mqtt_service.py --settings=/data/solidsense/mqtt/solidsense_mqtt.service.cfg
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target
